<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcounsellinng">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_web"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Reports.ShowDoctorasHead" />

        <activity
            android:name=".Activities.ChatWithDoctorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ChatWithHeadDoctorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.HeadDoctorRegister"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Reports.ShowHeadDoc" />
        <activity
            android:name=".Activities.MainPatientActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity android:name=".Reports.UserReport" />
        <activity android:name=".Reports.DoctorReport" />
        <activity android:name=".Reports.ShowUsers" />
        <activity android:name=".Reports.ReportActivity" />
        <activity android:name=".Reports.ShowDoctors" />
        <activity
            android:name=".Activities.DoctorRegister"
            android:theme="@style/AllTheme" />
        <activity android:name=".Activities.Admin" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.MoreInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.SearchProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.ReStorePassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.ChangePassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.ChatWithFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".Activities.HeadDoctorsAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/AllTheme" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIC54Akxjv9DZ71SEaObLVvtC_2t4sBM0GPgC8Fg" />
    </application>

</manifest>